
<div class="container mx-auto mt-2 p-2 border border-dark">
  <div class="header mb-5 p-2 bg-light">
    <h1 class="text-center">Convertisseur Décimal/Binaire</h1>
  </div>
  
  <form class="" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="row">
      <div class="col-md-6 form-group">
        <label for="base-conv">Base</label>
        <select class="form-control" id="baseConv" name="baseConv" ngModel>
          <option>Binaire</option>
          <option>Décimal</option>
        </select>
      </div>
      <div class="col-md-6 form-group">
        <label for="conv">Nombre</label>
        <input class="form-control" type="text" name="conv" id="conv" ngModel>
      </div>
    </div>
    
    <div class="row mt-3">
      
      
      <div class="col-md-12">
        <button class="btn btn-block btn-primary">Valider</button>
        
      </div>    
    </div>
  </form>
  
  
  <div class="mt-4">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Décimal</th>    
          <th>Binaire</th>   
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{ dec }}
          </td>
          <td>
            {{ bin }}
          </td>
        </tr>  
      </tbody>
    </table>
    
  </div>
  
</div>
